h1{
	color: white;
	background-color:black;
	margin-left: 20px;
	margin-right: 20px;
}

form{
	color: black;
	background-color:lightgrey;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}

input[type=text]{
	color: black;
} 

input,select{
	 border: 2px solid black;
	 border-radius: 2px;
}

button{

	 background-color: white;
	 border: 2px solid grey;
	 color: black;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: 18px;
	 margin: 2px 2px;
	 cursor: pointer;
}
